.commited {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
  }
  
  .commitedSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 45%;
    max-width: 600px;
    padding: 1em;
  }
  
  .commitedText {
    margin-bottom: 1em;
  }
  
  .commitedParagraph {
    margin-bottom: 1em;
  }
  
  .commitedLogo {
    flex: 1 1 45%;
    max-width: 600px;
    text-align: center;
    margin: 1em;
  }
  
  .commitedLogo img {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .commited {
      flex-direction: column;
      align-items: center;
    }
  
    .commitedSection, .commitedLogo {
      flex: 1 1 100%;
      max-width: 100%;
      text-align: center;
    }
  
    .commitedText, .commitedParagraph {
      margin-left: 0;
      text-align: center;
    }
  }
  