.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  padding: 0 2em;
  width: 100%;
  box-sizing: border-box;
}

.companylogo {
  display: flex;
  align-items: center;
  margin: 1em;
}

.header-content {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.header-content li {
  margin: 0 1em;
}

.header-button {
  display: flex;
  align-items: center;
  margin: 1em;
}

.button-content {
  padding: 0.5em 1em;
  border-radius: 8px;
  font-weight: 700;
  background-color: #1678FB;
  color: white;
  cursor: pointer;
  width: 8em;
  height: 3em;
  font-size: 1em;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    padding: 1em;
    justify-content: center;
  }

  .companylogo {
    margin: 0.5em;
  }

  .header-content {
    justify-content: center;
    width: 100%;
  }

  .header-content li {
    margin: 0.5em 1em;
  }

  .header-button {
    margin: 0.5em;
    justify-content: center;
    width: 100%;
  }

  .button-content {
    width: auto;
    height: auto;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0.5em;
  }

  .companylogo {
    margin: 0.5em;
  }

  .header-content li {
    margin: 0.5em 0.5em;
  }

  .header-button {
    margin: 0.5em;
  }

  .button-content {
    font-size: 0.8em;
    width: auto;
    height: auto;
  }
}
