.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.companylogo{
  margin-left: 10em;

}

.companylogo img{
  width: 10em;

}

.header-content {
  display: flex;
  list-style: none;
  margin-left: 20em;
}

.header-content li {
  padding: 1em;
  font-size: medium;
}

.header-button {
  margin-left: auto;
}

.button-content {
  background-color: #0066cc;
  width: 6em;
  height: 3em;
  border-radius: 0.5em;
  font-size: 1em;
  color: white;
  cursor: pointer;
  border: none;
  padding: 0.5em;
}
