
.lookingParagarph{
    color: #9092A3;
}
h4{
    color: #314259;
}

.sec{
    display: flex;
    justify-content:center;
}
.lookingsec1{
    width: 50%;
    margin-left: 15em;
}
.lookingsec2{
width:50%;
margin-left: 10em;
}
.lookingcolor{
    background-color: #f5f5f5;
}