.main-text h1 {
    color: #314259;
    font-weight: 700;
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 2.5%;
    margin-top: 1.5em;
}
.main-subtext h5 {
    color: #9092A3;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1em;
    font-weight: 100;
}
.partners{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

h5{
    color: #9092A3;
}

.text{
    color: #314259;
    margin-left: 23em;
    font-size: x-large;
}

.main{
    margin-bottom: 5em;
}

.main-subtext h5{
    margin-bottom: 4em;
}
.main-content{
    margin-bottom: 2em;
}