.panelSection {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
  }
  
  .clearInvoice,
  .clearGst,
  .Cleare-Invoicing,
  .ClearMaxITC,
  .cleargst,
  .cleartaxxloud,
  .Clearetds,
  .Clearproapp,
  .clearone,
  .FileITR,
  .clearInvest,
  .ClearServices,
  .Black {
    flex: 1 1 45%; /* Adjust based on screen size */
    margin-bottom: 2em;
  }
  
  @media (max-width: 768px) {
    .panelSection {
      flex-direction: column;
      align-items: center;
    }
  
    .clearInvoice,
    .clearGst,
    .Cleare-Invoicing,
    .ClearMaxITC,
    .cleargst,
    .cleartaxxloud,
    .Clearetds,
    .Clearproapp,
    .clearone,
    .FileITR,
    .clearInvest,
    .ClearServices,
    .Black {
      flex: 1 1 100%;
      margin-left: 0;
    }
  }
  