.corosal{
    margin-top: 5em;
    margin-bottom: 5em;
}
.maincontent{
margin-bottom: 5em;
}
.main2{
    margin-bottom: 5em;
}
.looking{
    margin-bottom: 5em;
}

.designed{
    margin-bottom: 5em;
}

.commited{
    margin-bottom: 5em;
}

.ready{
    margin-bottom: 5em;
}

.carousal{
    margin-bottom: 5em;
}